
.labSVG{

  width:35%;
  height:100%;
  /* max-height:600px; */
}
.flask{
  stroke:#f7f7f7;
}
.liquidBack{
  fill:#0248AD;
}
/*
.liquidFront, .liquidBubblesGroup{
  fill:#005DE9;
}
*/
.pop{
  stroke:#005DE9;
}

.darkBubbleGroup{
  fill:#171717;
}
